<html>

<head>
    <title>Bluff (Cha)</title>
</head>
<link rel="stylesheet" type="text/css" href="./css/app.css">
<link rel="stylesheet" type="text/css" href="./css/foundation.css">
<script src="./js/jquery-3.2.1.min.js"></script>

<body>
        <h1>Bluff (Cha)</h1>
    <p>You know how to tell a lie.</p>

    <h3>
        <a name="TOC-Check"></a>Check</h3>
    <p>Bluff is an opposed skill check against your opponent’s
        <a href="sense-motive">Sense Motive</a> skill.</p>

    <div>
        <table border="1" cellpadding="5">
            <caption style="text-align: left; font-weight: bold; padding: 10px 0px;">
                Table: Bluff Modifiers
            </caption>
            <thead>
                <tr>
                    <th>Circumstances</th>
                    <th style="text-align: center;">Bluff Modifier</th>
                </tr>
            </thead>
                <tr>
                    <td class="text">The target wants to believe you</td>
                    <td class="number">+5</td>
                </tr>
                <tr>
                    <td class="text">The lie is believable</td>
                    <td class="number">+0</td>
                </tr>
                <tr>
                    <td class="text">The lie is unlikely</td>
                    <td class="number">–5</td>
                </tr>
                <tr>
                    <td class="text">The lie is far-fetched</td>
                    <td class="number">–10</td>
                </tr>
                <tr>
                    <td class="text">The lie is impossible</td>
                    <td class="number">–20</td>
                </tr>
                <tr>
                    <td class="text">The target is drunk or impaired</td>
                    <td class="number">+5</td>
                </tr>
                <tr>
                    <td class="text">You possess convincing proof</td>
                    <td class="number">up to +10</td>
                </tr>
            
        </table>
    </div>

    <h3>
        <a name="TOC-Common-Uses"></a>Common Uses</h3>
    <h4>
        <a name="TOC-Convey-Secret-Message"></a>Convey Secret Message</h4>
    <p>You can use Bluff to pass hidden messages to another character without others understanding your true meaning. The DC
        of this check is 15 for simple messages and 20 for complex messages. If you are successful, the target automatically
        understands you, assuming you are speaking in a language that it understands. If your check fails by 5 or more, you
        deliver the wrong message. Other creatures that hear the message can decipher the message by succeeding at an opposed
        <a href="sense-motive" rel="nofollow">Sense Motive</a> check against your Bluff result.</p>
    <p>
        <b>Action</b>: Delivering a secret message generally takes twice as long as the message would otherwise take to relay.</p>
    <p>
        <b>Retry?</b> Yes. Secret messages can be relayed again if the first attempt fails.</p>
    <h4>
        <a name="TOC-Deceive-or-Lie"></a>Deceive or Lie</h4>
    <p>If you use Bluff to fool someone, with a successful check you convince your opponent that what you are saying is true.
        Bluff checks are modified depending upon the believability of the lie. The following modifiers are applied to the
        roll of the creature attempting to tell the lie. Note that some lies are so improbable that it is impossible to convince
        anyone that they are true (subject to GM discretion).</p>
    <p>Retry? If you fail to deceive someone, any further checks made to deceive them are made at a –10 penalty and may be impossible
        (GM discretion).</p>
    <h4>
        <a name="TOC-Feign-Harmlessness"></a>Feign Harmlessness</h4>
    <p style="font-size: 12px;">
        <b>Source</b>:
        <a href="http://www.amazon.com/gp/product/1601257120/ref=as_li_qf_sp_asin_il_tl?ie=UTF8&amp;camp=1789&amp;creative=9325&amp;creativeASIN=1601257120&amp;linkCode=as2&amp;tag=httpwwwd20pfs-20&amp;linkId=G33FDB42DACEVNTK"
            target="_blank" rel="nofollow">PPC:Giants</a>
    </p>
    <p>It&#8217;s often useful to attempt to convince your enemies you are no threat to them.</p>
    <p>
        <b>Check</b>: You attempt to convince your target you are harmless through your actions and posture. If you are at least
        one size category smaller than your target and have taken no effective offensive actions that your target has seen,
        you gain a +5
        <a href="http://www.d20pfsrd.com/basics-ability-scores/glossary#TOC-Circumstance-Bonus">circumstance bonus</a> on this check. Even if you have proven yourself capable of dealing damage, an effort to present
        your previous success as a one-time fluke takes only a –10 penalty on the check.</p>
    <p>
        <b>Action</b>: Taking steps to appear harmless requires a
        <a href="http://www.d20pfsrd.com/gamemastering/combat#TOC-Full-Round-Actions">full-round action</a>, though a GM may require more involved
        <a href="bluff">Bluff</a> attempts to take longer.</p>
    <p>
        <b>Retry?</b> You can attempt to feign harmlessness to the same target again, but each previous failed check increases
        the DC to convince your target by 5. This increase resets after 1 hour has passed.</p>

    <h4>
        <a name="TOC-Feint-in-Combat"></a>Feint in Combat</h4>
    <p>You can also use Bluff to feint in combat, causing your opponent to be denied his Dexterity bonus to his AC against your
        next attack. The DC of this check is equal to 10 + your opponent’s base attack bonus + your opponent’s
        <a href="http://www.d20pfsrd.com/basics-ability-scores/ability-scores#TOC-Wisdom-Wis-"
            rel="nofollow">Wisdom</a> modifier. If your opponent is trained in
        <a href="sense-motive">Sense Motive</a>, the DC is instead equal to 10 + your opponent’s
        <a href="sense-motive">Sense Motive</a> bonus, if higher. For more information on feinting in combat, see
        <a href="http://www.d20pfsrd.com/gamemastering/combat">Combat</a>.</p>
    <p>
        <b>Action</b>: Feinting in combat is a
        <a href="http://www.d20pfsrd.com/gamemastering/combat#TOC-Standard-Actions" rel="nofollow">standard action</a>.</p>
    <p>
        <b>Retry?</b> Yes. You can attempt to feint against someone again if you fail.</p>
    <h4>
        <a name="TOC-Perform-Inconspicuous-Action"></a>Perform Inconspicuous Action</h4>
    <p style="font-size: 12px;">
        <b>Source</b>&nbsp;
        <a style="background-color: transparent;" href="https://www.amazon.com/gp/product/1601258445/ref=as_li_tl?ie=UTF8&amp;tag=httpwwwd20pfs-20&amp;camp=1789&amp;creative=9325&amp;linkCode=as2&amp;creativeASIN=1601258445&amp;linkId=6ed72bcd2ace3e794050b798e0c8346e"
            target="_blank" rel="nofollow">PPC:SpyHB</a>
    </p>
    <p>You can avoid drawing attention to yourself when performing conspicuous actions such as picking up an object in a museum
        where handling the exhibits is frowned upon but not a matter of grave concern, or closely studying someone across
        a room at a party.</p>
    <p>
        <b>Action</b>: You attempt the
        <a href="bluff">Bluff</a> check as part of performing the action you wish to render inconspicuous. Normally, you must take twice
        as long as normal to perform the action in order to make it inconspicuous. A
        <a href="http://www.d20pfsrd.com/gamemastering/combat#TOC-Standard-Actions">standard action</a> becomes a
        <a href="http://www.d20pfsrd.com/gamemastering/combat#TOC-Full-Round-Actions">full-round action</a> completed just before the start of your next turn and a free, immediate, move, or
        <a href="http://www.d20pfsrd.com/gamemastering/combat#TOC-Swift-Actions">swift action</a> becomes a
        <a href="http://www.d20pfsrd.com/gamemastering/combat#TOC-Standard-Actions">standard action</a>.</p>
    <p>
        <b>Check</b>: Your
        <a href="bluff">Bluff</a> check is opposed by observers’
        <a href="sense-motive">Sense Motive</a> checks. You can’t attempt the check if your very presence is suspicious (which you could prevent
        by altering your appearance with the
        <a href="disguise">Disguise</a> skill).</p>
    <h4>
        <a name="TOC-Suggest-Course-of-Action"></a>Suggest Course of Action</h4>
    <p style="font-size: 12px;">
        <b>Source</b>:
        <a href="http://www.amazon.com/gp/product/1601257120/ref=as_li_qf_sp_asin_il_tl?ie=UTF8&amp;camp=1789&amp;creative=9325&amp;creativeASIN=1601257120&amp;linkCode=as2&amp;tag=httpwwwd20pfs-20&amp;linkId=G33FDB42DACEVNTK"
            target="_blank" rel="nofollow">Giant Hunter&#8217;s Handbook</a>
    </p>
    <p>You can use Bluff and
        <a href="diplomacy">Diplomacy</a> together to make a request of a creature, without it even realizing you have made the request.</p>
    <p>
        <b>Check</b>: You can gradually coax a target into thinking a suggestion is entirely its own idea, making the creature
        more likely to act on the idea than if you had suggested it outright. You discuss topics subtly relevant to the request,
        asking leading questions and narrowing the scope of the conversation so that the target eventually decides to take
        a specific action you have led it to.</p>
    <p>You first attempt a
        <a href="bluff">Bluff</a> check to convince the target that your request was actually its idea. This is always treated as far-fetched
        circumstances, resulting in a –10 penalty on the check. If successful, you then attempt a
        <a href="diplomacy">Diplomacy</a> check to make the request of the creature, treating its attitude toward you as indifferent for this
        single request (regardless of its actual attitude).</p>
    <p>
        <b>Action</b>: Planting the notion and then coaxing a target into suggesting the notion himself each require at least
        1 minute of continuous interaction. This can be difficult to arrange with a hostile or unfriendly creature.</p>
    <h3>
        <a name="TOC-Actions-Used"></a>Actions Used</h3>
    <ul>
        <li>
            <b>Convey Secret Message</b>: Delivering a secret message generally takes twice as long as the message would otherwise
            take to relay.</li>
        <li>
            <b>Deceive or Lie</b>: Attempting to deceive someone takes at least 1 round, but can possibly take longer if the
            lie is elaborate (as determined by the GM on a case-by-case basis).</li>
        <li>
            <b>Feign Harmlessness</b>: Attempting to appear harmless is at least a
            <a href="http://www.d20pfsrd.com/gamemastering/combat#TOC-Full-Round-Actions">full-round action</a>, possibly more.</li>
        <li>
            <b>Feint in Combat</b>: Feinting in combat is a
            <a href="http://www.d20pfsrd.com/gamemastering/combat#TOC-Standard-Actions"
                rel="nofollow">standard action</a>.</li>
        <li>
            <b>Suggest Course of Action</b>: at least 1 minute of continuous interaction.</li>
    </ul>
    <h3>
        <a name="TOC-Modifiers"></a>Modifiers</h3>
    <ul>
        <li>
            <b>Familiar</b> A spellcaster with a
            <a href="http://www.d20pfsrd.com/bestiary/monster-listings/animals/snake">snake familiar</a> gains a +3 bonus on Bluff checks.</li>
        <li>
            <b>Feats</b> If you have the
            <a href="http://www.d20pfsrd.com/feats/general-feats/deceitful-final">Deceitful</a> feat, you gain a +2 bonus on Bluff skill checks. If you have 10 or more ranks in Bluff, the bonus
            increases to +4.</li>
    </ul>
    <h4>
        <a name="TOC-Bluff-Unchained"></a>Bluff Unchained</h4>
    <p style="font-size: 12px;">
        <b>Source</b>
        <a title="Pathfinder Unchained" href="http://www.amazon.com/gp/product/1601257155/ref=as_li_qf_sp_asin_il_tl?ie=UTF8&amp;camp=1789&amp;creative=9325&amp;creativeASIN=1601257155&amp;linkCode=as2&amp;tag=httpwwwd20pfs-20&amp;linkId=SUELYCMD4O5LZ3U6"
            target="_blank">PFU</a>
    </p>
    <p>
        <b>About This Section</b> Optionally, a character who reaches 5, 10, 15, or 20 ranks in a skill unlocks various bonuses
        and abilities unique to that skill. The unchained rogue uses these rules extensively, but others can gain access
        to them with a new feat.</p>
    <p>In this system, characters unlock additional abilities when they attain 5, 10, 15, and 20 ranks in a skill. The skill
        unlocks system interfaces with the
        <a href="http://www.d20pfsrd.com/classes/unchained-classes/rogue-unchained">unchained rogue</a> to make the
        <a href="http://www.d20pfsrd.com/classes/core-classes/rogue">rogue</a> the true master of skills.</p>
    <p>Skill unlocks give characters new abilities and ways to use their skills upon reaching 5, 10, 15, and 20 ranks in a skill.
        Any character with the
        <a href="http://www.d20pfsrd.com/feats/general-feats/signature-skill-general">Signature Skill</a> feat can earn skill unlocks for a single skill, and they are a prime feature of the revised version
        of the
        <a href="http://www.d20pfsrd.com/classes/core-classes/rogue">rogue</a> who uses her rogue&#8217;s edge ability to gain skill unlocks for several of her most iconic skills. Alternatively,
        you might make skill unlocks a universal part of the game, but you should be aware they add significant power and
        flexibility to skills, so giving them for free to all classes would grant power boosts to other highly skilled classes
        such as the investigator and
        <a href="http://www.d20pfsrd.com/classes/core-classes/bard">bard</a>, particularly in comparison to the
        <a href="http://www.d20pfsrd.com/classes/core-classes/rogue">rogue</a>. Another alternative is to eliminate access to the
        <a href="http://www.d20pfsrd.com/feats/general-feats/signature-skill-general">Signature Skill</a> feat, limiting skill unlocks to
        <a href="http://www.d20pfsrd.com/classes/core-classes/rogue">rogues</a> and
        <a href="http://www.d20pfsrd.com/classes/core-classes/rogue">rogues</a> alone.</p>
    <p>With sufficient ranks in Bluff, you earn the following.
        <a name="Unchained-Skill-Unlock"></a>
    </p>
    <div style="margin-left: 20px;">
        <p>
            <b>5 Ranks</b>: The penalty to Bluff a creature after a failed check is halved unless you failed by 5 or more.</p>
        <p>
            <b>10 Ranks</b>: You take no penalty to Bluff a creature after a failed check unless you failed by 5 or more.</p>
        <p>
            <b>15 Ranks</b>: Creatures magically attempting to read your thoughts, detect your
            <a href="http://www.d20pfsrd.com/basics-ability-scores/glossary#TOC-Alignment">alignment</a>, or reveal when you are lying must attempt a
            <a href="http://www.d20pfsrd.com/magic#TOC-Caster-Level">caster level</a> check (DC = 11 + your ranks in Bluff ) or the effect reveals nothing.</p>
        <p>
            <b>20 Ranks</b>: As a
            <a href="http://www.d20pfsrd.com/gamemastering/combat#TOC-Full-Round-Actions">full-round action</a>, you can make a
            <a class="spell" href="http://www.d20pfsrd.com/magic/all-spells/s/suggestion">suggestion</a> (as the spell, maximum duration 1 hour) to a creature within 30 feet (
            <a href="http://www.d20pfsrd.com/gamemastering/combat#TOC-Will">Will</a> negates, DC = 15 + your
            <a href="http://www.d20pfsrd.com/basics-ability-scores/ability-scores#TOC-Charisma-Cha-">Charisma</a> modifier). A creature that saves against your suggestion is immune to further uses of this effect
            for 24 hours, and whenever the suggested creature is specifically confronted with proof of your manipulation,
            it receives another saving throw. This is an extraordinary
            <a href="http://www.d20pfsrd.com/magic#TOC-Magic-Descriptor-Mind-Affecting">mind-affecting</a>
            <a href="http://www.d20pfsrd.com/magic#TOC-Enchantment-Compulsion">compulsion</a>.</p>
    </div>

    <h3>Unofficial Extras!</h3>
    <p>The following rules ideas are from publishers other than Paizo. Use at your discretion!</p>
    <p>Below are several additional ways to use Bluff.</p>
    <p>
        <b>Fast-Talk</b>: You can attempt to tell a lie to a target so quickly that it goes unquestioned. Doing so requires
        half the normal time to convince the target, to a minimum of one standard action, but in doing so you take a –10
        penalty on your Bluff check.</p>
    <p>
        <b>Feign Injury</b>: Whenever you are dealt damage, you can make a Bluff check as an immediate action to convince foes
        you have been injured to a different extent than you truly have been, opposed by a Sense Motive check. You can appear
        to be uninjured, mildly injured (with more than half your total hit points remaining), significantly injured (reduced
        to less than half hit points), disabled (at 0 hit points), dying (at negative hit points), or dead. For each step
        away from your true condition you pretend to be, you suffer a cumulative –2 penalty on your Bluff check. If you pretend
        to be dying or dead, you must fall prone accordingly (a free action).</p>
    <p>
        <b>Quick Secret Message</b>: You can attempt to deliver a secret message in no more time than it would normally take
        to deliver openly, but you take a –10 penalty on your Bluff check for doing so.</p>

    <script src="./js/what-input.js"></script>
    <script src="./js/foundation.js"></script>
</body>

</html>