<html>

<head>
    <title>Handle Animal (Cha; Trained Only) </title>
</head>
<link rel="stylesheet" type="text/css" href="./css/app.css">
<link rel="stylesheet" type="text/css" href="./css/foundation.css">
<script src="./js/jquery-3.2.1.min.js"></script>

<body>
    <h1>Handle Animal (Cha; Trained Only)</h1>
    <p>You are trained at working with animals, and can teach them tricks, get them to follow your simple commands, or even
        domesticate them.</p>
    <h3>
        <a name="TOC-Check"></a>Check</h3>
    <p>The DC depends on what you are trying to do.</p>
    <div style="font-size: 14px">
        <table border="1" cellpadding="5">
            <thead>
                <tr>
                    <th>Task</th>
                    <th style="text-align: center;width: 30%">Handle Animal DC</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="text">Handle an animal</td>
                    <td class="number">10</td>
                </tr>
                <tr>
                    <td class="text">“Push” an animal</td>
                    <td class="number">25</td>
                </tr>
                <tr>
                    <td class="text">Teach an animal a trick</td>
                    <td style="text-align: center">15 or 20
                        <sup style="font-size: 10px">1</sup>
                    </td>
                </tr>
                <tr>
                    <td class="text">Train an animal for a general purpose</td>
                    <td style="text-align: center">15 or 20
                        <sup style="font-size: 10px">1</sup>
                    </td>
                </tr>
                <tr>
                    <td class="text">Rear a wild animal</td>
                    <td class="text">15 + HD of animal</td>
                </tr>
                <tr>
                    <td style="font-size: 12px" colspan="2">
                        <sup style="font-size: 10px">1</sup> See the specific trick or purpose below.</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="faq">
        <div>
            <a name="FAQ2"></a>FAQ/Errata</div>
        <div style="padding: 10px">
            <p style="font-weight: bold">
                <sup style="font-size: 10px">2</sup> Does training an animal using Handle Animal to be
                <a href="#purpose-combat-training">Combat Trained</a> grant it Light Armor Proficiency?</p>
            <p>No, using Handle Animal to train an animal, or mount, in this way does not grant it a free bonus feat. It is
                not unreasonable, however to assume that an animal specifically designed to be ridden (such as a horse or
                dog) could be purchased with Light Armor Proficiency as one of its feats (swapping out Endurance or Skill
                Focus respectively) for the same cost.</p>
            <p style="font-size: 12px">[
                <a href="http://paizo.com/products/btpy88yj/faq?Pathfinder-Roleplaying-Game-Core-Rulebook#v5748eaic9ne7" target="_blank"
                    rel="nofollow noopener">Source</a>]</p>
        </div>
    </div>
    <h3>
        <a name="TOC-Common-Uses"></a>Common Uses</h3>
    <h4>
        <a name="TOC-Handle-an-Animal"></a>Handle an Animal</h4>
    <p>This task involves commanding an animal to perform a task or trick that it knows. If the animal is wounded or has taken
        any nonlethal damage or ability score damage, the DC increases by 2. If your check succeeds, the animal performs
        the task or trick on its next action.</p>
    <h4>
        <a name="TOC-Push-an-Animal"></a>Push an Animal</h4>
    <p>To push an animal means to get it to perform a task or trick that it doesn’t know but is physically capable of performing.
        This category also covers making an animal perform a forced march or forcing it to hustle for more than 1 hour between
        sleep cycles. If the animal is wounded or has taken any nonlethal damage or ability score damage, the DC increases
        by 2. If your check succeeds, the animal performs the task or trick on its next action.</p>
    <h4>
        <a name="TOC-Teach-an-Animal-a-Trick"></a>Teach an Animal a Trick</h4>
    <p>You can teach an animal a specific trick with one week of work and a successful Handle Animal check against the indicated
        DC. An animal with an
        <a href="http://www.d20pfsrd.com/basics-ability-scores/ability-scores#TOC-Intelligence-Int-">Intelligence</a> score of 1 can learn a maximum of three tricks, while an animal with an
        <a href="http://www.d20pfsrd.com/basics-ability-scores/ability-scores#TOC-Intelligence-Int-">Intelligence</a> score of 2 can learn a maximum of six tricks.</p>
    <h4>
        <a name="TOC-Common-Tricks"></a>Common Tricks</h4>
    <p>The following tricks can be taught to
        <a href="http://www.d20pfsrd.com/bestiary/rules-for-monsters/creature-types#TOC-Animal">animals</a> by training the
        <a href="http://www.d20pfsrd.com/bestiary/rules-for-monsters/creature-types#TOC-Animal">animal</a> for a week and making a successful
        <a href="handle-animal">Handle Animal</a> skill check against the listed DC.</p>
    <div style="margin-left: 20px">
        <a name="trick-aid"></a>
        <p>
            <b>Aid (DC 20)</b>: The
            <a href="http://www.d20pfsrd.com/bestiary/rules-for-monsters/creature-types#TOC-Animal">animal</a> can use the
            <a href="http://www.d20pfsrd.com/gamemastering/combat#TOC-Aid-Another">aid another</a> action to aid a specific ally in combat by attacking a specific foe the ally is fighting. You
            may point to a particular creature that you wish the
            <a href="http://www.d20pfsrd.com/bestiary/rules-for-monsters/creature-types#TOC-Animal">animal</a> to aid, and another that you want it make an
            <a href="http://www.d20pfsrd.com/gamemastering/combat#TOC-Attack-Roll">attack roll</a> against, and it will comply if able. The normal creature type restrictions governing the attack
            trick still apply.</p>
        <a name="trick-attack"></a>
        <p>
            <b>Attack (DC 20)</b> The animal attacks apparent enemies. You may point to a particular creature that you wish
            the animal to attack, and it will comply if able. Normally, an animal will attack only
            <a href="http://www.d20pfsrd.com/bestiary/rules-for-monsters/creature-types#TOC-Humanoid">humanoids</a>,
            <a href="http://www.d20pfsrd.com/bestiary/rules-for-monsters/creature-types#TOC-Monstrous-Humanoid">monstrous humanoids</a>,
            <a href="http://www.d20pfsrd.com/bestiary/rules-for-monsters/creature-types#TOC-Giant">giants</a>, or other
            <a href="http://www.d20pfsrd.com/bestiary/rules-for-monsters/creature-types#TOC-Animal">animals</a>. Teaching an animal to attack all creatures (including such unnatural creatures as
            <a href="http://www.d20pfsrd.com/bestiary/rules-for-monsters/creature-types#TOC-Undead">undead</a> and
            <a href="http://www.d20pfsrd.com/bestiary/rules-for-monsters/creature-types#TOC-Aberration">aberrations</a>) counts as two tricks.</p>
        <a name="trick-bombard"></a>
        <p>
            <b>Bombard (DC 20)</b>: A flying
            <a href="http://www.d20pfsrd.com/bestiary/rules-for-monsters/creature-types#TOC-Animal">animal</a> can deliver projectiles on command, attempting to drop a specified item that it can carry (often alchemist&#8217;s
            fire or some other incendiary) on a designated point or opponent, using its
            <a href="http://www.d20pfsrd.com/gamemastering/combat#TOC-Attack-Bonus">base attack bonus</a> to determine its
            <a href="http://www.d20pfsrd.com/gamemastering/combat#TOC-Attack-Roll">attack roll</a>. The
            <a href="http://www.d20pfsrd.com/bestiary/rules-for-monsters/creature-types#TOC-Animal">animal</a> cannot throw the object, and must be able to fly directly over the target.</p>
        <a name="trick-break-out"></a>
        <p>
            <b>Break Out (DC 20)</b>: On command, the
            <a href="http://www.d20pfsrd.com/bestiary/rules-for-monsters/creature-types#TOC-Animal">animal</a> attempts to break or gnaw through any bars or bindings restricting itself, its handler, or a person
            indicated by the handler. If not effective on its own, this trick can grant the target character a +4
            <a href="http://www.d20pfsrd.com/basics-ability-scores/glossary#TOC-Circumstance-Bonus">circumstance bonus</a> on
            <a href="escape-artist">Escape Artist</a> checks. The
            <a href="http://www.d20pfsrd.com/bestiary/rules-for-monsters/creature-types#TOC-Animal">animal</a> can also take certain basic actions like lifting a latch or bringing its master an unattended key.
            Weight and
            <a href="http://www.d20pfsrd.com/basics-ability-scores/ability-scores#TOC-Strength-Str-">Strength</a> restrictions still apply, and pickpocketing a key or picking any sort of lock is still far beyond
            the
            <a href="http://www.d20pfsrd.com/bestiary/rules-for-monsters/creature-types#TOC-Animal">animal</a>&#8216;s ability.</p>
        <a name="trick-bury"></a>
        <p>
            <b>Bury (DC 15)</b>: An
            <a href="http://www.d20pfsrd.com/bestiary/rules-for-monsters/creature-types#TOC-Animal">animal</a> with this trick can be instructed to bury an object in its possession. The
            <a href="http://www.d20pfsrd.com/bestiary/rules-for-monsters/creature-types#TOC-Animal">animal</a> normally seeks a secluded place to bury its object. An
            <a href="http://www.d20pfsrd.com/bestiary/rules-for-monsters/creature-types#TOC-Animal">animal</a> with both bury and fetch can be instructed to fetch an item it has buried.</p>
        <a name="trick-come"></a>
        <p>
            <b>Come (DC 15)</b> The animal comes to you, even if it normally would not do so.</p>
        <a name="trick-defend"></a>
        <p>
            <b>Defend (DC 20)</b> The animal defends you (or is ready to defend you if no threat is present), even without any
            command being given. Alternatively, you can command the animal to defend a specific other character.</p>
        <a name="trick-deliver"></a>
        <p>
            <b>Deliver (DC 15)</b>: The
            <a href="http://www.d20pfsrd.com/bestiary/rules-for-monsters/creature-types#TOC-Animal">animal</a> takes an object (one you or an ally gives it, or that it recovers with the fetch trick) to a place
            or person you indicate. If you indicate a place, the animal drops the item and returns to you. If you indicate
            a person, the animal stays adjacent to the person until the item is taken. (Retrieving an item from an animal
            using the deliver trick is a
            <a href="http://www.d20pfsrd.com/gamemastering/combat#TOC-Move-Actions">move action</a>.)</p>
        <a name="trick-detect"></a>
        <p>
            <b>Detect (DC 25)</b>: The
            <a href="http://www.d20pfsrd.com/bestiary/rules-for-monsters/creature-types#TOC-Animal">animal</a> is trained to seek out the smells of explosives and poisons, unusual noises or echoes, air currents,
            and other common elements signifying potential dangers or secret passages. When commanded, the animal uses its
            <a href="perception">Perception</a> skill to try to pinpoint the source of anything that strikes it as unusual about a room or location.
            Note that because the animal is not intelligent, any number of strange mechanisms, doors, scents, or unfamiliar
            objects may catch the
            <a href="http://www.d20pfsrd.com/bestiary/rules-for-monsters/creature-types#TOC-Animal">animal</a>&#8216;s attention, and it cannot attempt the same
            <a href="perception">Perception</a> check more than once in this way.</p>
        <a name="trick-down"></a>
        <p>
            <b>Down (DC 15)</b> The animal breaks off from combat or otherwise backs down. An animal that doesn’t know this
            trick continues to fight until it must flee (due to injury, a fear effect, or the like) or its opponent is defeated.</p>
        <a
            name="trick-entertain"></a>
            <p>
                <b>Entertain (DC 25)</b>: The animal can dance, sing, or perform some other impressive and enjoyable trick to
                entertain those around it. At the command of its owner, the
                <a href="http://www.d20pfsrd.com/bestiary/rules-for-monsters/creature-types#TOC-Animal">animal</a> can make a
                <a href="perform">Perform</a> check (or a
                <a href="http://www.d20pfsrd.com/basics-ability-scores/ability-scores#TOC-Charisma-Cha-">Charisma</a> check if it has no ranks in
                <a href="perform">Perform</a>) to show off its talent. Willing onlookers or those who fail an opposed
                <a href="sense-motive">Sense Motive</a> check take a –2 penalty on
                <a href="perception">Perception</a> checks to notice anything but the animal entertaining them. Tricksters and con artists often
                teach their
                <a href="http://www.d20pfsrd.com/bestiary/rules-for-monsters/creature-types#TOC-Animal">animals</a> to perform this trick while they pickpocket viewers or sneak about unnoticed.</p>
            <a name="trick-exclusive"></a>
            <p>
                <b>Exclusive (DC 20)</b>: The
                <a href="http://www.d20pfsrd.com/bestiary/rules-for-monsters/creature-types#TOC-Animal">animal</a> takes directions only from the handler who taught it this trick. If an
                <a href="http://www.d20pfsrd.com/bestiary/rules-for-monsters/creature-types#TOC-Animal">animal</a> has both the exclusive and serve tricks, it takes directions only from the handler that taught
                it the exclusive trick and those creatures indicated by the trainer&#8217;s serve command. An animal with
                the exclusive trick does not take trick commands from others even if it is friendly or helpful toward them
                (such as through the result of a
                <a class="spell" href="http://www.d20pfsrd.com/magic/all-spells/c/charm-animal">charm animal</a> spell), though this does not prevent it from being controlled by other
                <a href="http://www.d20pfsrd.com/magic#TOC-Enchantment">enchantment</a> spells (such as
                <a class="spell" href="http://www.d20pfsrd.com/magic/all-spells/d/dominate-animal">dominate animal</a>), and the animal still otherwise acts as a friendly or helpful creature when applicable.</p>
            <a
                name="trick-fetch"></a>
                <p>
                    <b>Fetch (DC 15)</b> The animal goes and gets something. If you do not point out a specific item, the animal
                    fetches some random object.</p>
                <a name="trick-flank"></a>
                <p>
                    <b>Flank (DC 20)</b>: You can instruct an
                    <a href="http://www.d20pfsrd.com/bestiary/rules-for-monsters/creature-types#TOC-Animal">animal</a> to attack a foe you point to and always attempt to be adjacent to (and threatening) that foe.
                    If you or an ally is also threatening the foe, the
                    <a href="http://www.d20pfsrd.com/bestiary/rules-for-monsters/creature-types#TOC-Animal">animal</a> attempts to
                    <a href="http://www.d20pfsrd.com/gamemastering/combat#TOC-Flanking">flank</a> the foe, if possible. It always takes
                    <a href="http://www.d20pfsrd.com/gamemastering/combat#TOC-Attacks-of-Opportunity">attacks of opportunity</a>. The animal must know the attack trick before it can learn this trick.</p>
                <a
                    name="trick-flee"></a>
                    <p>
                        <b>Flee (DC 20)</b>: The
                        <a href="http://www.d20pfsrd.com/bestiary/rules-for-monsters/creature-types#TOC-Animal">animal</a> attempts to run away or hide as best it can, returning only when its handler commands
                        it to do so. Until such a command is received, the
                        <a href="http://www.d20pfsrd.com/bestiary/rules-for-monsters/creature-types#TOC-Animal">animal</a> does its best to track its handler and any creatures with him or her, remaining hidden
                        but within range of its sight or hearing. This trick is particularly useful for thieves and adventurers
                        in that it allows the
                        <a href="http://www.d20pfsrd.com/bestiary/rules-for-monsters/creature-types#TOC-Animal">animal</a> to evade capture, then return later to help free its friends.</p>
                    <a name="trick-get-help"></a>
                    <p>
                        <b>Get Help (DC 20)</b>: With this trick, a trainer can designate a number of creatures up to the animal&#8217;s
                        <a href="http://www.d20pfsrd.com/basics-ability-scores/ability-scores#TOC-Intelligence-Int-">Intelligence</a> score as “help.” When the command is given, the
                        <a href="http://www.d20pfsrd.com/bestiary/rules-for-monsters/creature-types#TOC-Animal">animal</a> attempts to find one of those people and bring her back to the handler, even if that means
                        journeying a long
                        <a style="font-style: italic" href="http://www.d20pfsrd.com/magic-items/magic-weapons/magic-weapon-special-abilities/distance">distance</a> to the last place it encountered the target creature.</p>
                    <a name="trick-guard"></a>
                    <p>
                        <b>Guard (DC 20)</b> The animal stays in place and prevents others from approaching.</p>
                    <a name="trick-heel"></a>
                    <p>
                        <b>Heel (DC 15)</b> The animal follows you closely, even to places where it normally wouldn’t go.</p>
                    <a
                        name="trick-hunt"></a>
                        <p>
                            <b>Hunt (DC 20)</b>: This trick allows an animal to use its natural stalking or foraging instincts
                            to find food and return it to the
                            <a href="http://www.d20pfsrd.com/bestiary/rules-for-monsters/creature-types#TOC-Animal">animal</a>&#8216;s handler. An
                            <a href="http://www.d20pfsrd.com/bestiary/rules-for-monsters/creature-types#TOC-Animal">animal</a> with this trick may attempt
                            <a href="survival">Survival</a> checks (or
                            <a href="http://www.d20pfsrd.com/basics-ability-scores/ability-scores#TOC-Wisdom-Wis-">Wisdom</a> checks if the
                            <a href="http://www.d20pfsrd.com/bestiary/rules-for-monsters/creature-types#TOC-Animal">animal</a> has no ranks in
                            <a href="survival">Survival</a>) to provide food for others or lead them to water and shelter (as the “get along
                            in the wild” use of the
                            <a href="survival">Survival</a> skill). An animal with this trick may use the
                            <a href="http://www.d20pfsrd.com/gamemastering/combat#TOC-Aid-Another">aid another</a> action to assist
                            <a href="survival">Survival</a> checks made by its handler for these purposes.</p>
                        <a name="trick-perform"></a>
                        <p>
                            <b>Perform (DC 15)</b> The animal performs a variety of simple tricks, such as sitting up, rolling
                            over, roaring or barking, and so on.</p>
                        <a name="trick-maneuver"></a>
                        <p>
                            <b>Maneuver (DC 20)</b>: The animal is trained to use a specific
                            <a href="http://www.d20pfsrd.com/gamemastering/combat#TOC-Combat-Maneuvers">combat maneuver</a> on command. An
                            <a href="http://www.d20pfsrd.com/bestiary/rules-for-monsters/creature-types#TOC-Animal">animal</a> must know the attack trick before it can be taught the maneuver trick, and it only
                            performs maneuvers against targets it would normally attack. This trick can be taught to an
                            <a
                                href="http://www.d20pfsrd.com/bestiary/rules-for-monsters/creature-types#TOC-Animal">animal</a> multiple times. Each time it is taught, the
                                <a href="http://www.d20pfsrd.com/bestiary/rules-for-monsters/creature-types#TOC-Animal">animal</a> can be commanded to use a different
                                <a href="http://www.d20pfsrd.com/gamemastering/combat#TOC-Combat-Maneuvers">combat maneuver</a>.</p>
                        <a name="trick-menace"></a>
                        <p>
                            <b>Menace (DC 20)</b>: A menacing animal attempts to keep a creature you indicate from moving. It
                            does its best to intimidate the target, but only attacks if the target attempts to move from
                            its present location or take any significant action (particularly a hostile-seeming one). As
                            soon as the target stops moving, the
                            <a href="http://www.d20pfsrd.com/bestiary/rules-for-monsters/creature-types#TOC-Animal">animal</a> ceases attacking, but continues to menace.</p>
                        <a name="trick-seek"></a>
                        <p>
                            <b>Seek (DC 15)</b> The animal moves into an area and looks around for anything that is obviously
                            alive or animate.</p>
                        <a name="trick-serve"></a>
                        <p>
                            <b>Serve (DC 15)</b>: An
                            <a href="http://www.d20pfsrd.com/bestiary/rules-for-monsters/creature-types#TOC-Animal">animal</a> with this trick willingly takes orders from a creature you designate. If the creature
                            you tell the
                            <a href="http://www.d20pfsrd.com/bestiary/rules-for-monsters/creature-types#TOC-Animal">animal</a> to serve knows what tricks the
                            <a href="http://www.d20pfsrd.com/bestiary/rules-for-monsters/creature-types#TOC-Animal">animal</a> has, it can instruct the
                            <a href="http://www.d20pfsrd.com/bestiary/rules-for-monsters/creature-types#TOC-Animal">animal</a> to perform these tricks using your
                            <a href="handle-animal">Handle Animal</a> bonus on the check instead of its own. The animal treats the designated ally
                            as friendly. An
                            <a href="http://www.d20pfsrd.com/bestiary/rules-for-monsters/creature-types#TOC-Animal">animal</a> can unlearn this trick with 1 week of training. This trick can be taught to an animal
                            multiple times. Each time it is taught, the animal can serve an additional creature you designate.</p>
                        <a
                            name="trick-sneak"></a>
                            <p>
                                <b>Sneak (DC 15)</b>: The animal can be ordered to make
                                <a href="stealth">Stealth</a> checks in order to stay hidden and to continue using
                                <a href="stealth">Stealth</a> even when circumstances or its natural instincts would normally cause it to abandon
                                secrecy.</p>
                            <a name="trick-stay"></a>
                            <p>
                                <b>Stay (DC 15)</b> The animal stays in place, waiting for you to return. It does not challenge
                                other creatures that come by, though it still defends itself if it needs to.</p>
                            <a name="trick-track"></a>
                            <p>
                                <b>Track (DC 20)</b> The animal tracks the scent presented to it. (This requires the animal
                                to have the scent ability)</p>
                            <a name="trick-throw-rider"></a>
                            <p>
                                <b>Throw Rider (DC 15)</b>: The animal can attempt to fling a creature riding it to the ground.
                                Treat this as a
                                <a href="http://www.d20pfsrd.com/gamemastering/combat#TOC-Trip">trip</a>
                                <a href="http://www.d20pfsrd.com/gamemastering/combat#TOC-Combat-Maneuvers">combat maneuver</a> that applies to all creatures riding the
                                <a href="http://www.d20pfsrd.com/bestiary/rules-for-monsters/creature-types#TOC-Animal">animal</a>, and that does not provoke
                                <a href="http://www.d20pfsrd.com/gamemastering/combat#TOC-Attacks-of-Opportunity">attacks of opportunity</a>. An
                                <a href="http://www.d20pfsrd.com/bestiary/rules-for-monsters/creature-types#TOC-Animal">animal</a> that knows the throw rider and exclusive tricks can be instructed to attempt to
                                automatically throw anyone other than its trainer who attempts to ride it.</p>
                            <a name="trick-watch"></a>
                            <p>
                                <b>Watch (DC 15)</b>: The animal can be commanded to keep watch over a particular area, such
                                as a campsite, and raise an alarm if it notices any sizable or dangerous creature entering
                                the area. This trick is often included in the Guarding purpose.</p>
                            <a name="trick-work"></a>
                            <p>
                                <b>Work (DC 15)</b> The animal pulls or pushes a medium or heavy load.</p>
    </div>
    <p>
        <b>FYI</b> There are new feats intended for Animals. Here are a few:</p>
    <ul>
        <li>
            <a href="http://www.d20pfsrd.com/feats/general-feats/jumper">Jumper</a>
        </li>
        <li>
            <a href="http://www.d20pfsrd.com/feats/general-feats/lithe-attacker">Lithe Attacker</a>
        </li>
        <li>
            <a href="http://www.d20pfsrd.com/feats/general-feats/master-of-your-kind">Master of Your Kind</a>
        </li>
        <li>
            <a href="http://www.d20pfsrd.com/feats/general-feats/narrow-frame">Narrow Frame</a>
        </li>
        <li>
            <a href="http://www.d20pfsrd.com/feats/general-feats/stable-gallop">Stable Gallop</a>
        </li>
        <li>
            <a href="http://www.d20pfsrd.com/feats/general-feats/sure-footed">Sure Footed</a>
        </li>
        <li>
            <a href="http://www.d20pfsrd.com/feats/general-feats/valiant-steed">Valiant Steed</a>
        </li>
    </ul>
    <h4>
        <a name="TOC-Train-an-Animal-for-a-Purpose"></a>Train an Animal for a Purpose</h4>
    <p>Rather than teaching an animal individual tricks, you can simply train it for a general purpose. Essentially, an animal’s
        purpose represents a preselected set of known tricks that fit into a common scheme, such as guarding or heavy labor.
        The animal must meet all the normal prerequisites for all tricks included in the training package. If the package
        includes more than three tricks, the animal must have an
        <a href="http://www.d20pfsrd.com/basics-ability-scores/ability-scores#TOC-Intelligence-Int-">Intelligence</a> score of 2.</p>
    <p>An animal can be trained for only one general purpose, though if the creature is capable of learning additional tricks
        (above and beyond those included in its general purpose), it may do so. Training an animal for a purpose requires
        fewer checks than teaching individual tricks does, but no less time.</p>
    <div style="font-size: 14px">
        <table border="1" cellpadding="5">
            <thead>
                <tr>
                    <th>General Purpose</th>
                    <th style="text-align: center;width: 30%">DC</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <a href="#purpose-combat-training">Combat Training</a>
                        <sup style="font-size: 10px">
                            <a href="#FAQ2">2</a>
                        </sup> (or &#8220;Combat Riding&#8221;)</td>
                    <td class="number">20</td>
                </tr>
                <tr>
                    <td class="text">Fighting</td>
                    <td class="number">20</td>
                </tr>
                <tr>
                    <td class="text">Guarding</td>
                    <td class="number">20</td>
                </tr>
                <tr>
                    <td class="text">Heavy labor</td>
                    <td class="number">15</td>
                </tr>
                <tr>
                    <td class="text">Hunting</td>
                    <td class="number">20</td>
                </tr>
                <tr>
                    <td class="text">Performance</td>
                    <td class="number">15</td>
                </tr>
                <tr>
                    <td class="text">Riding</td>
                    <td class="number">15</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div style="margin-left: 20px">
        <a name="purpose-air-support"></a>
        <p>
            <b>Air Support (DC 20)</b>: An animal trained in air support knows the attack, bombard, and deliver tricks.</p>
        <a
            name="purpose-burglar"></a>
            <p>
                <b>Burglar (DC 25)</b>: An animal trained as a burglar knows the come, fetch, maneuver (
                <a href="http://www.d20pfsrd.com/gamemastering/combat#TOC-Steal">steal</a>), seek, and sneak tricks. You can order it to
                <a href="http://www.d20pfsrd.com/gamemastering/combat#TOC-Steal">steal</a> a specific item you point out.</p>
            <a name="purpose-combat-training"></a>
            <p>
                <b>Combat Training (DC 20)</b> An animal trained to bear a rider into combat knows the tricks attack, come,
                defend, down, guard, and heel. Training an animal for combat riding takes 6 weeks. You may also “upgrade”
                an animal trained for riding to one trained for combat by spending 3 weeks and making a successful DC 20
                Handle Animal check. The new general purpose and tricks completely replace the animal&#8217;s previous purpose
                and any tricks it once knew. Many horses and riding dogs are trained in this way.</p>
            <a name="purpose-fighting"></a>
            <p>
                <b>Fighting (DC 20)</b> An animal trained to engage in combat knows the tricks attack, down, and stay. Training
                an animal for fighting takes three weeks.</p>
            <a name="purpose-guarding"></a>
            <p>
                <b>Guarding (DC 20)</b> An animal trained to guard knows the tricks attack, defend, down, and guard. Training
                an animal for guarding takes four weeks.</p>
            <a name="purpose-hvy-labor"></a>
            <p>
                <b>Heavy Labor (DC 15)</b> An animal trained for heavy labor knows the tricks come and work. Training an animal
                for heavy labor takes two weeks.</p>
            <a name="purpose-hunting"></a>
            <p>
                <b>Hunting (DC 20)</b> An animal trained for hunting knows the tricks attack, down, fetch, heel, seek, and track.
                Training an animal for hunting takes six weeks.</p>
            <a name="purpose-liberator"></a>
            <p>
                <b>Liberator (DC 25)</b>: An animal trained in liberating knows the break out, flee, and get help tricks.</p>
            <a
                name="purpose-performance"></a>
                <p>
                    <b>Performance (DC 15)</b> An animal trained for performance knows the tricks come, fetch, heel, perform,
                    and stay. Training an animal for performance takes five weeks.</p>
                <a name="purpose-riding"></a>
                <p>
                    <b>Riding (DC 15)</b> An animal trained to bear a rider knows the tricks come, heel, and stay. Training
                    an animal for riding takes three weeks.</p>
                <a name="purpose-servant"></a>
                <p>
                    <b>Servant (DC 20)</b>: An animal trained as a servant knows the deliver, exclusive, and serve tricks.</p>
    </div>
    <h4>
        <a name="TOC-Rear-a-Wild-Animal"></a>Rear a Wild Animal</h4>
    <p>To rear an animal means to raise a wild creature from infancy so that it becomes domesticated. A handler can rear as
        many as three creatures of the same kind at once. A successfully domesticated animal can be taught tricks at the
        same time it’s being raised, or it can be taught as a domesticated animal later.</p>
    <h3>
        <a name="TOC-Action"></a>Action</h3>
    <p>Varies. Handling an animal is a move action, while “pushing” an animal is a
        <a href="http://www.d20pfsrd.com/gamemastering/combat#TOC-Full-Round-Actions"
            rel="nofollow">full-round action</a>. (A
        <a href="http://www.d20pfsrd.com/classes/core-classes/druid">druid</a> or
        <a href="http://www.d20pfsrd.com/classes/core-classes/ranger">ranger</a> can handle her animal companion as a free action or push it as a move action.) For tasks with specific
        time frames noted above, you must spend half this time (at the rate of 3 hours per day per animal being handled)
        working toward completion of the task before you attempt the Handle Animal check. If the check fails, your attempt
        to teach, rear, or train the animal fails and you need not complete the teaching, rearing, or training time. If the
        check succeeds, you must invest the remainder of the time to complete the teaching, rearing, or training. If the
        time is interrupted or the task is not followed through to completion, the attempt to teach, rear, or train the animal
        automatically fails.</p>
    <h3>
        <a name="TOC-Retry-"></a>Retry?</h3>
    <p>Yes, except for rearing an animal.</p>
    <h3>
        <a name="TOC-Modifiers"></a>Modifiers</h3>
    <ul>
        <li>
            <b>Low Intelligence Non-Animals</b> You can use this skill on a creature with an
            <a href="http://www.d20pfsrd.com/basics-ability-scores/ability-scores#TOC-Intelligence-Int-">Intelligence</a> score of 1 or 2 that is not an animal, but the DC of any such check increases by 5. Such creatures
            have the same limit on tricks known as animals do.</li>
        <li>
            <b>Animal Companions</b> A
            <a href="http://www.d20pfsrd.com/classes/core-classes/druid">druid</a> or
            <a href="http://www.d20pfsrd.com/classes/core-classes/ranger">ranger</a> gains a +4 circumstance bonus on Handle Animal checks involving her animal companion. In addition,
            a druid’s or ranger’s animal companion knows one or more bonus tricks, which don’t count against the normal limit
            on tricks known and don’t require any training time or Handle Animal checks to teach.</li>
    </ul>
    <h3>
        <a name="TOC-Special"></a>Special</h3>
    <p>
        <b>Untrained</b> If you have no ranks in Handle Animal, you can use a
        <a href="http://www.d20pfsrd.com/basics-ability-scores/ability-scores#TOC-Charisma-CHA-">Charisma</a> check to handle and push domestic animals, but you can’t teach, rear, or train animals. A druid or ranger
        with no ranks in Handle Animal can use a
        <a href="http://www.d20pfsrd.com/basics-ability-scores/ability-scores#TOC-Charisma-CHA-">Charisma</a> check to handle and push her animal companion, but she can’t teach, rear, or train other non-domestic
        animals.</p>
    <h4>
        <a name="TOC-Handle-Animal-Unchained"></a>Handle Animal Unchained</h4>
    <p style="font-size: 12px">
        <b>Source</b>
        <a title="Pathfinder Unchained" href="http://www.amazon.com/gp/product/1601257155/ref=as_li_qf_sp_asin_il_tl?ie=UTF8&amp;camp=1789&amp;creative=9325&amp;creativeASIN=1601257155&amp;linkCode=as2&amp;tag=httpwwwd20pfs-20&amp;linkId=SUELYCMD4O5LZ3U6"
            target="_blank" rel="noopener">PFU</a>
    </p>
    <p>
        <b>About This Section</b> Optionally, a character who reaches 5, 10, 15, or 20 ranks in a skill unlocks various bonuses
        and abilities unique to that skill. The unchained rogue uses these rules extensively, but others can gain access
        to them with a new feat.</p>
    <p>In this system, characters unlock additional abilities when they attain 5, 10, 15, and 20 ranks in a skill. The skill
        unlocks system interfaces with the
        <a href="http://www.d20pfsrd.com/classes/unchained-classes/rogue-unchained">unchained rogue</a> to make the
        <a href="http://www.d20pfsrd.com/classes/core-classes/rogue">rogue</a> the true master of skills.</p>
    <p>Skill unlocks give characters new abilities and ways to use their skills upon reaching 5, 10, 15, and 20 ranks in a skill.
        Any character with the
        <a href="http://www.d20pfsrd.com/feats/general-feats/signature-skill-general">Signature Skill</a> feat can earn skill unlocks for a single skill, and they are a prime feature of the revised version
        of the
        <a href="http://www.d20pfsrd.com/classes/core-classes/rogue">rogue</a> who uses her rogue&#8217;s edge ability to gain skill unlocks for several of her most iconic skills. Alternatively,
        you might make skill unlocks a universal part of the game, but you should be aware they add significant power and
        flexibility to skills, so giving them for free to all classes would grant power boosts to other highly skilled classes
        such as the investigator and
        <a href="http://www.d20pfsrd.com/classes/core-classes/bard">bard</a>, particularly in comparison to the
        <a href="http://www.d20pfsrd.com/classes/core-classes/rogue">rogue</a>. Another alternative is to eliminate access to the
        <a href="http://www.d20pfsrd.com/feats/general-feats/signature-skill-general">Signature Skill</a> feat, limiting skill unlocks to
        <a href="http://www.d20pfsrd.com/classes/core-classes/rogue">rogues</a> and
        <a href="http://www.d20pfsrd.com/classes/core-classes/rogue">rogues</a> alone.</p>
    <p>
        <a name="Unchained-Skill-Unlock"></a>
    </p>
    <p>With sufficient ranks in
        <a href="handle-animal">Handle Animal</a>, you earn the following.</p>
    <div style="margin-left: 20px">
        <p>
            <b>5 Ranks</b>: Creatures you have trained gain a +2 bonus on
            <a href="http://www.d20pfsrd.com/gamemastering/combat#TOC-Will">Will</a> saves when adjacent to you.</p>
        <p>
            <b>10 Ranks</b>: Creatures you have trained gain a +2 bonus on
            <a href="http://www.d20pfsrd.com/gamemastering/combat#TOC-Will">Will</a> saves whenever you are within 30 feet and clearly visible. You can teach a trick in 1 day by increasing
            the DC by 20.</p>
        <p>
            <b>15 Ranks</b>: You can train an
            <a href="http://www.d20pfsrd.com/bestiary/rules-for-monsters/creature-types#TOC-Animal">animal</a> to understand your speech (as
            <a class="spell" href="http://www.d20pfsrd.com/magic/all-spells/s/speak-with-animals">speak with animals</a>) with 1 week of effort and a successful DC 30
            <a href="handle-animal">Handle Animal</a> check. Its actions are still limited by its
            <a href="http://www.d20pfsrd.com/basics-ability-scores/ability-scores#TOC-Intelligence-Int-">Intelligence</a>. You can teach a trick in 1 day (increasing the DC by 10) or 1 hour (increasing the DC by 20).</p>
        <p>
            <b>20 Ranks</b>: You can make your speech understandable to any
            <a href="http://www.d20pfsrd.com/bestiary/rules-for-monsters/creature-types#TOC-Animal">animal</a> for 24 hours with a successful DC 30 Handle Animal check (DC 40 for
            <a href="http://www.d20pfsrd.com/bestiary/rules-for-monsters/creature-types#TOC-Magical-Beast">magical beasts</a> or
            <a href="http://www.d20pfsrd.com/bestiary/rules-for-monsters/creature-types#TOC-Vermin">vermin</a>). You can teach a trick in 1 day, 1 hour (increasing the DC by 10), or 1 minute (increasing the DC
            by 20).</p>
    </div>



    <script src="./js/what-input.js"></script>
    <script src="./js/foundation.js"></script>
</body>

</html>