<html>

<head>
    <title>Natural Attacks </title>
</head>
<link rel="stylesheet" type="text/css" href="./css/app.css">
<link rel="stylesheet" type="text/css" href="./css/foundation.css">
<script src="./js/jquery-3.2.1.min.js"></script>

<body>
    <h1>Natural Attacks</h1>
    <p><b>Table: Natural Attacks by Size</b> lists some of the most common types of natural attacks and their classifications.</p>
    <h3><span id="Table_Natural_Attacks_by_Size"><a name="TOC-Table:-Natural-Attacks-by-Size"></a>Table: Natural Attacks by Size</span></h3>
    <table border="1" width="100%" cellpadding="5">
     <tbody>
      <tr>
       <th rowspan="2" width="25%">Natural Attack</th>
       <th style="text-align: center; width: 45%;" colspan="9">Base Damage by Size*</th>
       <th style="text-align: center; width: 15%;" rowspan="2">Damage Type</th>
       <th style="text-align: center; width: 15%;" rowspan="2">Attack type</th>
      </tr>
      <tr>
       <th style="text-align: center; width: 5%;">Fine</th>
       <th style="text-align: center; width: 5%;">Dim.</th>
       <th style="text-align: center; width: 5%;">Tiny</th>
       <th style="text-align: center; width: 5%;">Small</th>
       <th style="text-align: center; width: 5%;">Medium</th>
       <th style="text-align: center; width: 5%;">Large</th>
       <th style="text-align: center; width: 5%;">Huge</th>
       <th style="text-align: center; width: 5%;">Garg.</th>
       <th style="text-align: center; width: 5%;">Col.</th>
      </tr>
      <tr>
       <td class="text">Bite</td>
       <td class="number">1</td>
       <td class="number">1d2</td>
       <td class="number">1d3</td>
       <td class="number">1d4</td>
       <td class="number">1d6</td>
       <td class="number">1d8</td>
       <td class="number">2d6</td>
       <td class="number">2d8</td>
       <td class="number">4d6</td>
       <td class="text">B, P, and S</td>
       <td class="text">Primary</td>
      </tr>
      <tr>
       <td class="text">Claw</td>
       <td class="text">&#8211;</td>
       <td class="number">1</td>
       <td class="number">1d2</td>
       <td class="number">1d3</td>
       <td class="number">1d4</td>
       <td class="number">1d6</td>
       <td class="number">1d8</td>
       <td class="number">2d6</td>
       <td class="number">2d8</td>
       <td class="text">B and S</td>
       <td class="text">Primary</td>
      </tr>
      <tr>
       <td class="text">Gore</td>
       <td class="number">1</td>
       <td class="number">1d2</td>
       <td class="number">1d3</td>
       <td class="number">1d4</td>
       <td class="number">1d6</td>
       <td class="number">1d8</td>
       <td class="number">2d6</td>
       <td class="number">2d8</td>
       <td class="number">4d6</td>
       <td class="marker">P</td>
       <td class="text">Primary</td>
      </tr>
      <tr>
       <td class="text">Hoof, Tentacle, Wing</td>
       <td class="text">&#8211;</td>
       <td class="number">1</td>
       <td class="number">1d2</td>
       <td class="number">1d3</td>
       <td class="number">1d4</td>
       <td class="number">1d6</td>
       <td class="number">1d8</td>
       <td class="number">2d6</td>
       <td class="number">2d8</td>
       <td class="marker">B</td>
       <td class="text">Secondary</td>
      </tr>
      <tr>
       <td class="text">Pincers, Tail Slap</td>
       <td class="number">1</td>
       <td class="number">1d2</td>
       <td class="number">1d3</td>
       <td class="number">1d4</td>
       <td class="number">1d6</td>
       <td class="number">1d8</td>
       <td class="number">2d6</td>
       <td class="number">2d8</td>
       <td class="number">4d6</td>
       <td class="marker">B</td>
       <td class="text">Secondary</td>
      </tr>
      <tr>
       <td class="text">Slam</td>
       <td class="text">&#8211;</td>
       <td class="number">1</td>
       <td class="number">1d2</td>
       <td class="number">1d3</td>
       <td class="number">1d4</td>
       <td class="number">1d6</td>
       <td class="number">1d8</td>
       <td class="number">2d6</td>
       <td class="number">2d8</td>
       <td class="marker">B</td>
       <td class="text">Primary</td>
      </tr>
      <tr>
       <td class="text">Sting</td>
       <td class="text">&#8211;</td>
       <td class="number">1</td>
       <td class="number">1d2</td>
       <td class="number">1d3</td>
       <td class="number">1d4</td>
       <td class="number">1d6</td>
       <td class="number">1d8</td>
       <td class="number">2d6</td>
       <td class="number">2d8</td>
       <td class="marker">P</td>
       <td class="text">Primary</td>
      </tr>
      <tr>
       <td class="text">Talons</td>
       <td class="text">&#8211;</td>
       <td class="number">1</td>
       <td class="number">1d2</td>
       <td class="number">1d3</td>
       <td class="number">1d4</td>
       <td class="number">1d6</td>
       <td class="number">1d8</td>
       <td class="number">2d6</td>
       <td class="number">2d8</td>
       <td class="marker">S</td>
       <td class="text">Primary</td>
      </tr>
      <tr>
       <td class="text">Other</td>
       <td class="text">&#8211;</td>
       <td class="number">1</td>
       <td class="number">1d2</td>
       <td class="number">1d3</td>
       <td class="number">1d4</td>
       <td class="number">1d6</td>
       <td class="number">1d8</td>
       <td class="number">2d6</td>
       <td class="number">2d8</td>
       <td class="text">B, P, or S</td>
       <td class="text">Secondary</td>
      </tr>
     </tbody>
    </table>
    <table border="1" cellpadding="5">
        <caption style="text-align: left; font-weight: bold; padding: 10px 0px;">
         Table: Complete Damage Dice Progression Chart
        </caption>
        <thead>
         <tr>
          <th>Step</th>
          <th>Dice (or damage)</th>
         </tr>
        </thead>
        <tbody>
         <tr>
          <td class="number">1</td>
          <td class="number">1</td>
         </tr>
         <tr>
          <td class="number">2</td>
          <td class="number">1d2</td>
         </tr>
         <tr>
          <td class="number">3</td>
          <td class="number">1d3</td>
         </tr>
         <tr>
          <td class="number">4</td>
          <td class="number">1d4</td>
         </tr>
         <tr>
          <td class="number">5</td>
          <td class="number">1d6</td>
         </tr>
         <tr>
          <td class="number">6</td>
          <td class="number">1d8</td>
         </tr>
         <tr>
          <td class="number">7</td>
          <td class="number">1d10</td>
         </tr>
         <tr>
          <td class="number">8</td>
          <td class="number">2d6</td>
         </tr>
         <tr>
          <td class="number">9</td>
          <td class="number">2d8</td>
         </tr>
         <tr>
          <td class="number">10</td>
          <td class="number">3d6</td>
         </tr>
         <tr>
          <td class="number">11</td>
          <td class="number">3d8</td>
         </tr>
         <tr>
          <td class="number">12</td>
          <td class="number">4d6</td>
         </tr>
         <tr>
          <td class="number">13</td>
          <td class="number">4d8</td>
         </tr>
         <tr>
          <td class="number">14</td>
          <td class="number">6d6</td>
         </tr>
         <tr>
          <td class="number">15</td>
          <td class="number">6d8</td>
         </tr>
         <tr>
          <td class="number">16</td>
          <td class="number">8d6</td>
         </tr>
         <tr>
          <td class="number">17</td>
          <td class="number">8d8</td>
         </tr>
         <tr>
          <td class="number">18</td>
          <td class="number">12d6</td>
         </tr>
         <tr>
          <td class="number">19</td>
          <td class="number">12d8</td>
         </tr>
         <tr>
          <td class="number">20</td>
          <td class="number">16d6</td>
         </tr>
        </tbody>
       </table>
         
      
    <script src="./js/what-input.js"></script>
    <script src="./js/foundation.js"></script>
</body>

</html>